In [2]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv("./datasets/nba.csv")
# oyuncuların kiloları lb formatınday dı kg formatına dönüştürme yaptık 1 lb = 0.45359237 kg dır
data["Weight"] = round(data["Weight"] * 0.45359237) 
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,82.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,107.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,93.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,84.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,105.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,92.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,81.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,116.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,105.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
data.dropna(inplace= True)
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [146]:
data.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [147]:
data["Name"] = data["Name"].str.lower()
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,avery bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,jae crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,r.j. hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,kelly olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,rodney hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,chris johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,trey lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,shelvin mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,jeff withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [148]:
data["index"] = data["Name"].str.find("A")
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,index
0,avery bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,-1
1,jae crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,-1
3,r.j. hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,-1
6,jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,-1
7,kelly olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,-1

In [149]:
data[data["Name"].str.contains("jordan")]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,index
6,jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,-1
98,deandre jordan,Los Angeles Clippers,6.0,C,27.0,6-11,265.0,Texas A&M,19689000.0,-1
110,jordan clarkson,Los Angeles Lakers,6.0,PG,24.0,6-5,194.0,Missouri,845059.0,-1
175,jordan mcrae,Cleveland Cavaliers,12.0,SG,25.0,6-5,179.0,Tennessee,111196.0,-1
201,jordan hill,Indiana Pacers,27.0,C,28.0,6-10,235.0,Arizona,4000000.0,-1
257,jordan adams,Memphis Grizzlies,3.0,SG,21.0,6-5,209.0,UCLA,1404600.0,-1
289,jordan hamilton,New Orleans Pelicans,25.0,SG,25.0,6-7,220.0,Texas,1015421.0,-1

In [150]:
data = data["Team"].str.replace(" ","-")
data

0      Boston-Celtics
1      Boston-Celtics
3      Boston-Celtics
6      Boston-Celtics
7      Boston-Celtics
            ...
449         Utah-Jazz
451         Utah-Jazz
452         Utah-Jazz
453         Utah-Jazz
456         Utah-Jazz
Name: Team, Length: 364, dtype: object

In [151]:
#data[["ad","soyad"]] = data["Name"].loc[data["name"].str.split().str.len() == 2].str.split(expand = True)